<nav>

    <a href="/projects">
        <i class="far fa-lightbulb"></i>
    </a>
    <a href="/workout">
        <i class="fas fa-dumbbell"></i>
    </a>
    <a href="/sleep">
        <i class="fas fa-bed"></i>
    </a>
    <a href="/reading">
        <i class="fas fa-book"></i>
    </a>
    <a href="/japanese">
        <i class="fas fa-language"></i>
    </a>
    <a href="/nofap">
        <i class="fas fa-fist-raised"></i>
    </a>

</nav>